In [69]:
# 1. Importez la bibliothèque pandas et affichez sa version.

import pandas as pd
print(pd.__version__)

1.5.3

In [70]:
# 2. Créez une série pandas à partir d'une liste `[1, 2, 3, 4, 5]` et affichez-la.

serie = pd.Series([1, 2, 3, 4, 5])
print(serie)

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [71]:
# 3. Convertissez la série précédente en dataframe. Utilisez la méthode `to_frame`de Pandas.

df = serie.to_frame()
print(df)

   0
0  1
1  2
2  3
3  4
4  5

In [72]:
# 4. Importez un fichier CSV en utilisant pandas. Utilisez le fichier iris.csv disponible ici.

df = pd.read_csv('iris.csv')

In [73]:
# 5. Affichez les 5 premières et les 5 dernières lignes du dataframe.

print(df.head())
print(df.tail())

   long_sepale  larg_sepale  long_petale  larg_petale variete
0          5.1          3.5          1.4          0.2  Setosa
1          4.9          3.0          1.4          0.2  Setosa
2          4.7          3.2          1.3          0.2  Setosa
3          4.6          3.1          1.5          0.2  Setosa
4          5.0          3.6          1.4          0.2  Setosa
     long_sepale  larg_sepale  long_petale  larg_petale    variete
145          6.7          3.0          5.2          2.3  Virginica
146          6.3          2.5          5.0          1.9  Virginica
147          6.5          3.0          5.2          2.0  Virginica
148          6.2          3.4          5.4          2.3  Virginica
149          5.9          3.0          5.1          1.8  Virginica

In [74]:
# 6. Affichez les dimensions du dataframe.

print(df.shape)

(150, 5)

In [75]:
# 7. Affichez les informations du dataframe.

print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   long_sepale  148 non-null    float64
 1   larg_sepale  148 non-null    float64
 2   long_petale  145 non-null    float64
 3   larg_petale  149 non-null    float64
 4   variete      150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB
None

In [76]:
# 8. Affichez les statistiques descriptives du dataframe.

print(df.describe())

       long_sepale  larg_sepale  long_petale  larg_petale
count   148.000000   148.000000   145.000000   149.000000
mean      5.850676     3.058784     3.764138     1.206040
std       0.830908     0.438602     1.757234     0.760354
min       4.300000     2.000000     1.000000     0.100000
25%       5.100000     2.800000     1.600000     0.300000
50%       5.800000     3.000000     4.400000     1.300000
75%       6.400000     3.325000     5.100000     1.800000
max       7.900000     4.400000     6.900000     2.500000

In [77]:
# 9. Sélectionnez la colonne 'variete' du dataframe.

print(df['variete'])

0         Setosa
1         Setosa
2         Setosa
3         Setosa
4         Setosa
         ...
145    Virginica
146    Virginica
147    Virginica
148    Virginica
149    Virginica
Name: variete, Length: 150, dtype: object

In [78]:
# 10. Ajoutez une nouvelle colonne 'Index' à un dataframe qui est l'index actuel multiplié par 2.

df['index'] = df.index * 2
print(df)

     long_sepale  larg_sepale  long_petale  larg_petale    variete  index
0            5.1          3.5          1.4          0.2     Setosa      0
1            4.9          3.0          1.4          0.2     Setosa      2
2            4.7          3.2          1.3          0.2     Setosa      4
3            4.6          3.1          1.5          0.2     Setosa      6
4            5.0          3.6          1.4          0.2     Setosa      8
..           ...          ...          ...          ...        ...    ...
145          6.7          3.0          5.2          2.3  Virginica    290
146          6.3          2.5          5.0          1.9  Virginica    292
147          6.5          3.0          5.2          2.0  Virginica    294
148          6.2          3.4          5.4          2.3  Virginica    296
149          5.9          3.0          5.1          1.8  Virginica    298

[150 rows x 6 columns]

In [79]:
# 11. Filtrez les lignes du dataframe où 'sepal.length' est supérieur à 5.

df_filtre = df[df['long_sepale'] > 5]
print(df_filtre)

     long_sepale  larg_sepale  long_petale  larg_petale    variete  index
0            5.1          3.5          1.4          0.2     Setosa      0
5            5.4          3.9          1.7          0.4     Setosa     10
10           5.4          3.7          1.5          0.2     Setosa     20
14           5.8          4.0          1.2          0.2     Setosa     28
15           5.7          4.4          1.5          0.4     Setosa     30
..           ...          ...          ...          ...        ...    ...
145          6.7          3.0          5.2          2.3  Virginica    290
146          6.3          2.5          5.0          1.9  Virginica    292
147          6.5          3.0          5.2          2.0  Virginica    294
148          6.2          3.4          5.4          2.3  Virginica    296
149          5.9          3.0          5.1          1.8  Virginica    298

[116 rows x 6 columns]

In [80]:
# 12. Triez le dataframe en fonction de la colonne 'long_petale'.

df_trie = df.sort_values('long_petale')
print(df_trie)

     long_sepale  larg_sepale  long_petale  larg_petale     variete  index
22           4.6          3.6          1.0          0.2      Setosa     44
13           4.3          3.0          1.1          0.1      Setosa     26
35           5.0          3.2          1.2          0.2      Setosa     70
14           5.8          4.0          1.2          0.2      Setosa     28
2            4.7          3.2          1.3          0.2      Setosa      4
..           ...          ...          ...          ...         ...    ...
7            5.0          3.4          NaN          0.2      Setosa     14
49           5.0          3.3          NaN          0.2      Setosa     98
71           6.1          2.8          NaN          1.3  Versicolor    142
97           6.2          2.9          NaN          1.3  Versicolor    194
117          7.7          3.8          NaN          2.2   Virginica    234

[150 rows x 6 columns]

In [81]:
# 13. Renommez la colonne 'variete' en 'especes'.

df.rename(columns={'variete': 'especes'}, inplace=True)
print(df)

     long_sepale  larg_sepale  long_petale  larg_petale    especes  index
0            5.1          3.5          1.4          0.2     Setosa      0
1            4.9          3.0          1.4          0.2     Setosa      2
2            4.7          3.2          1.3          0.2     Setosa      4
3            4.6          3.1          1.5          0.2     Setosa      6
4            5.0          3.6          1.4          0.2     Setosa      8
..           ...          ...          ...          ...        ...    ...
145          6.7          3.0          5.2          2.3  Virginica    290
146          6.3          2.5          5.0          1.9  Virginica    292
147          6.5          3.0          5.2          2.0  Virginica    294
148          6.2          3.4          5.4          2.3  Virginica    296
149          5.9          3.0          5.1          1.8  Virginica    298

[150 rows x 6 columns]

In [82]:
# 14. Vérifiez s'il y a des valeurs manquantes dans le dataframe.

print(df.isnull().sum())

long_sepale    2
larg_sepale    2
long_petale    5
larg_petale    1
especes        0
index          0
dtype: int64

In [83]:
# 15. Remplacez les valeurs manquantes par une valeur spécifique, disons 0.

df.fillna(0, inplace=True)

In [85]:
# 16. Supprimez les lignes avec des valeurs manquantes.

df.dropna(inplace=True)
print(df)

     long_sepale  larg_sepale  long_petale  larg_petale    especes  index
0            5.1          3.5          1.4          0.2     Setosa      0
1            4.9          3.0          1.4          0.2     Setosa      2
2            4.7          3.2          1.3          0.2     Setosa      4
3            4.6          3.1          1.5          0.2     Setosa      6
4            5.0          3.6          1.4          0.2     Setosa      8
..           ...          ...          ...          ...        ...    ...
145          6.7          3.0          5.2          2.3  Virginica    290
146          6.3          2.5          5.0          1.9  Virginica    292
147          6.5          3.0          5.2          2.0  Virginica    294
148          6.2          3.4          5.4          2.3  Virginica    296
149          5.9          3.0          5.1          1.8  Virginica    298

[150 rows x 6 columns]

In [86]:
# 17. Appliquez une fonction à la colonne 'larg_sepale' pour doubler toutes les valeurs.

df['larg_sepale'] = df['larg_sepale'].apply(lambda x: x*2)
print(df)

     long_sepale  larg_sepale  long_petale  larg_petale    especes  index
0            5.1          7.0          1.4          0.2     Setosa      0
1            4.9          6.0          1.4          0.2     Setosa      2
2            4.7          6.4          1.3          0.2     Setosa      4
3            4.6          6.2          1.5          0.2     Setosa      6
4            5.0          7.2          1.4          0.2     Setosa      8
..           ...          ...          ...          ...        ...    ...
145          6.7          6.0          5.2          2.3  Virginica    290
146          6.3          5.0          5.0          1.9  Virginica    292
147          6.5          6.0          5.2          2.0  Virginica    294
148          6.2          6.8          5.4          2.3  Virginica    296
149          5.9          6.0          5.1          1.8  Virginica    298

[150 rows x 6 columns]

In [87]:
# 18. Fusionnez deux dataframes. Créez un autre dataframe et fusionnez-le avec le dataframe Iris.

df2 = pd.DataFrame({'A': ['A0', 'A1', 'A2', 'A3'],
                    'B': ['B0', 'B1', 'B2', 'B3'],
                    'C': ['C0', 'C1', 'C2', 'C3'],
                    'D': ['D0', 'D1', 'D2', 'D3']},
                   index=[0, 1, 2, 3])
df_fusionne = pd.concat([df, df2], axis=1)
print(df_fusionne)

     long_sepale  larg_sepale  long_petale  larg_petale    especes  index  \
0            5.1          7.0          1.4          0.2     Setosa      0
1            4.9          6.0          1.4          0.2     Setosa      2
2            4.7          6.4          1.3          0.2     Setosa      4
3            4.6          6.2          1.5          0.2     Setosa      6
4            5.0          7.2          1.4          0.2     Setosa      8
..           ...          ...          ...          ...        ...    ...
145          6.7          6.0          5.2          2.3  Virginica    290
146          6.3          5.0          5.0          1.9  Virginica    292
147          6.5          6.0          5.2          2.0  Virginica    294
148          6.2          6.8          5.4          2.3  Virginica    296
149          5.9          6.0          5.1          1.8  Virginica    298

       A    B    C    D
0     A0   B0   C0   D0
1     A1   B1   C1   D1
2     A2   B2   C2   D2
3     A3   B3   C3   D3
4    NaN  NaN  NaN  NaN
..   ...  ...  ...  ...
145  NaN  NaN  NaN  NaN
146  NaN  NaN  NaN  NaN
147  NaN  NaN  NaN  NaN
148  NaN  NaN  NaN  NaN
149  NaN  NaN  NaN  NaN

[150 rows x 10 columns]

In [88]:
# 19. Groupez les données en fonction de la colonne 'especes' et calculez la moyenne de 'long_sepale'.

df_groupe = df.groupby('especes')['long_sepale'].mean()
print(df_groupe)

especes
Setosa        5.006
Versicolor    5.724
Virginica     6.588
Name: long_sepale, dtype: float64

In [89]:
# 20. Sauvegardez le dataframe dans un nouveau fichier CSV nommé 'AT_Pandas.csv'.

df.to_csv('AT_Pandas.csv', index=False)