In [4]:
import pandas as pd

# Création d'une Series
ma_serie = pd.Series([1, 2, 3, 4, 5])
print(f"La série:\n{ma_serie}")

# Accès par position
print(f"Premier élément: {ma_serie[0]}")  # La donnée en première position

La série:
0    1
1    2
2    3
3    4
4    5
dtype: int64
Premier élément: 1

In [5]:
# Création d'un DataFrame
donnee = {
    'Nom': ['Aline', 'Robert', 'Charles'],
    'Age': [25, 30, 35],
    'Note': [85.5, 90.3, 78.9]
}
df = pd.DataFrame(donnee)
print(df)

       Nom  Âge  Note
0    Aline   25  85.5
1   Robert   30  90.3
2  Charles   35  78.9

In [19]:
# Création d'un DataFrame
donnee = {
    'Nom': ['Aline', 'Robert', 'Charles'],
    'Age': [25, 30, 35],
    'Note': [85.5, 90.3, 78.9]
}
df = pd.DataFrame(donnee)

# Sélection d'une colonne
print(f"Colonne Nom: \n{df['Nom']}")

# Sélection de plusieurs colonnes
print(f"\n{df[['Nom', 'Age']]}")

# Sélection de lignes par étiquette
print(df.loc[0])

# Sélection de lignes par position
print(f"Première ligne: \n{df.iloc[0]}")

Colonne Nom:
0      Aline
1     Robert
2    Charles
Name: Nom, dtype: object

       Nom  Age
0    Aline   25
1   Robert   30
2  Charles   35
Nom     Aline
Age        25
Note     85.5
Name: 0, dtype: object
Première ligne:
Nom     Aline
Age        25
Note     85.5
Name: 0, dtype: object

In [20]:




# importing pandas as pd
import pandas as pd
 
# Creating the DataFrame
df = pd.DataFrame({'Weight': [45, 88, 56, 15, 71],
                   'Name': ['Sam', 'Andrea', 'Alex', 'Robin', 'Kia'],
                   'Age': [14, 25, 55, 8, 21]})
 
# Create the index
index_ = ['Row_1', 'Row_2', 'Row_3', 'Row_4', 'Row_5']
 
# Set the index
df.index = index_
 
# Print the DataFrame
print("Original DataFrame:")
print(df)
 
# Corrected selection using loc for a specific cell
result = df.loc['Row_2', 'Name']
 
# Print the result
print("\nSelected Value at Row_2, Column 'Name':")
print(result)

Original DataFrame:
       Weight    Name  Age
Row_1      45     Sam   14
Row_2      88  Andrea   25
Row_3      56    Alex   55
Row_4      15   Robin    8
Row_5      71     Kia   21

Selected Value at Row_2, Column 'Name':
Andrea

In [25]:
import pandas as pd

# Création du dataframe
donnee = {
    'Nom': ['Aline', 'Robert', 'Charles'],
    'Age': [25, 30, 35],
    'Note': [85.5, 90.3, 78.9]
}
df = pd.DataFrame(donnee)
print(f"Le dataframe \n{df}")
print()

# Utilisation de df.loc
# Sélection de la ligne avec l'index 1 (Robert)
ligne_loc = df.loc[1]
print("Utilisation de df.loc pour sélectionner la ligne avec l'index 1:")
print(ligne_loc)

# Sélection des lignes avec les index 0 et 2 (Aline et Charles)
lignes_loc = df.loc[[0, 2]]
print("\nUtilisation de df.loc pour sélectionner les lignes avec les index 0 et 2:")
print(lignes_loc)

# Utilisation de df.iloc
# Sélection de la ligne à la position 1 (Robert)
ligne_iloc = df.iloc[1]
print("\nUtilisation de df.iloc pour sélectionner la ligne à la position 1:")
print(ligne_iloc)

# Sélection des lignes aux positions 0 et 2 (Aline et Charles)
lignes_iloc = df.iloc[[0, 2]]
print("\nUtilisation de df.iloc pour sélectionner les lignes aux positions 0 et 2:")
print(lignes_iloc)

Le dataframe
       Nom  Age  Note
0    Aline   25  85.5
1   Robert   30  90.3
2  Charles   35  78.9

Utilisation de df.loc pour sélectionner la ligne avec l'index 1:
Nom     Robert
Age         30
Note      90.3
Name: 1, dtype: object

Utilisation de df.loc pour sélectionner les lignes avec les index 0 et 2:
       Nom  Age  Note
0    Aline   25  85.5
2  Charles   35  78.9

Utilisation de df.iloc pour sélectionner la ligne à la position 1:
Nom     Robert
Age         30
Note      90.3
Name: 1, dtype: object

Utilisation de df.iloc pour sélectionner les lignes aux positions 0 et 2:
       Nom  Age  Note
0    Aline   25  85.5
2  Charles   35  78.9

In [26]:
import pandas as pd

# Création du dataframe
donnee = {
    'Nom': ['Aline', 'Robert', 'Charles'],
    'Age': [25, 30, 35],
    'Note': [85.5, 90.3, 78.9]
}
df = pd.DataFrame(donnee)

# Exportation du dataframe en CSV sans l'index
df.to_csv('fichier_sans_index.csv', index=False)

# Exportation du dataframe en CSV avec l'index (par défaut)
df.to_csv('fichier_avec_index.csv')

In [42]:
donnee = {
    "Nom": ["Aline", "Robert", "Charles", "Julie"],
    "Age": [25, 30, 35, 25],
    "Note": [85.5, 90.3, 78.9, 88.9]
}
df = pd.DataFrame(donnee)
#print(df)

# Sélection de colonnes
#ages = df['Age']
#print(f"Les âges sont:\n{ages}\n")

# Filtrage de lignes
#df_filtre = df[df['Note'] > 80]
#print(f"Le dataframe contenant seulement les notes > 80 \n{df_filtre}\n")

#print(f"Statistiques : \n{df.describe()}\n")

#df_groupe = df.groupby('Age').mean()
df_groupe = df.groupby('Age').mean(numeric_only=True)

print(df_groupe)

     Note
Age
25   87.2
30   90.3
35   78.9

In [40]:
import pandas as pd

# Création du DataFrame
data = {
    'Substance': ['Eau', 'Eau', 'Eau', 'Acide sulfurique', 'Acide sulfurique', 'Acide sulfurique', 'Sodium', 'Sodium', 'Sodium'],
    'Concentration (mol/L)': [0.1, 0.2, 0.3, 1.0, 1.5, 2.0, 0.5, 0.7, 0.9],
    'pH': [7.0, 7.1, 7.2, 1.0, 1.2, 1.5, 13.0, 13.2, 13.5],
    'Température (°C)': [25, 25, 25, 20, 20, 20, 30, 30, 30]
}

df = pd.DataFrame(data)

# Affichage du DataFrame
print(f"Affichage des données \n{df}\n")

# Grouper par la colonne Substance et calcul de la moyenne des autres colonnes
df_groupe = df.groupby("Substance").mean()
print(f"Affichage de la moyenne des données goupées par substance \n{df_groupe}\n")

Affichage des données
          Substance  Concentration (mol/L)    pH  Température (°C)
0               Eau                    0.1   7.0                25
1               Eau                    0.2   7.1                25
2               Eau                    0.3   7.2                25
3  Acide sulfurique                    1.0   1.0                20
4  Acide sulfurique                    1.5   1.2                20
5  Acide sulfurique                    2.0   1.5                20
6            Sodium                    0.5  13.0                30
7            Sodium                    0.7  13.2                30
8            Sodium                    0.9  13.5                30

Affichage des données goupées par substance
                  Concentration (mol/L)         pH  Température (°C)
Substance
Acide sulfurique                    1.5   1.233333              20.0
Eau                                 0.2   7.100000              25.0
Sodium                              0.7  13.233333              30.0

In [44]:
donnee = {
    "Nom": ["Aline", "Robert", "Charles", "Julie"],
    "Age": [25, 30, 35, 25],
    "Note": [85.5, 90.3, 78.9, 88.9]
}
df = pd.DataFrame(donnee)

df_groupe = df.groupby("Age").mean(numeric_only=True)
print(f"Affichage de la moyenne des données groupées par âge \n{df_groupe}\n")

Affichage de la moyenne des données groupées par âge
     Note
Age
25   87.2
30   90.3
35   78.9

In [47]:
import pandas as pd

donnee = {
    'Nom': ['Aline', 'Robert', 'Charles'],
    'Age': [25, 30, 35],
    'Note': [85.5, 90.3, 78.9]
}
df = pd.DataFrame(donnee)

# Ajout d'une nouvelle colonne
df["Session"] = "Automne"
print(f"La colonne Session ajoutée \n{df}\n")

# Suppression d'une colonne
df = df.drop(columns=["Session"])
print(f"La colonne Session supprimée \n{df}\n")

# Renommage des colonnes
df = df.rename(columns={"Nom": "Prenom"})
print(f"La colonne Nom modifiée \n{df}\n")

La colonne Session ajoutée
       Nom  Age  Note  Session
0    Aline   25  85.5  Automne
1   Robert   30  90.3  Automne
2  Charles   35  78.9  Automne

La colonne Session supprimée
       Nom  Age  Note
0    Aline   25  85.5
1   Robert   30  90.3
2  Charles   35  78.9

La colonne Nom modifiée
    Prenom  Age  Note
0    Aline   25  85.5
1   Robert   30  90.3
2  Charles   35  78.9

In [52]:
import pandas as pd

# Données
data = {'Date': ['2024-01-01', '2024-01-02', '2024-01-03'],
        'Température': [20, 21, 19]}
df = pd.DataFrame(data)

# Conversion en datetime
df['Date'] = pd.to_datetime(df['Date'])

# Extraction des composants de la date
df['Annee'] = df['Date'].dt.year
df['Mois'] = df['Date'].dt.month
df['Jour'] = df['Date'].dt.day

# Filtrage par date
masque = (df['Date'] >= '2024-01-01') & (df['Date'] <= '2024-01-31')
donnees_janvier = df.loc[masque]

# Ajout de jours
df['Date plus 5'] = df['Date'] + pd.Timedelta(days=5)

# Création d'une plage de dates
plage_date = pd.date_range(start='2024-01-01', end='2024-01-10', freq='D')

print(f"Le dataframe \n{df}\n")
print(f"Les données du mois de janvier \n{donnees_janvier}\n")
print(f"La plage de dates du 1er au 10 janvier 2024 \n{plage_date}\n")

Le dataframe
        Date  Température  Annee  Mois  Jour Date plus 5
0 2024-01-01           20   2024     1     1  2024-01-06
1 2024-01-02           21   2024     1     2  2024-01-07
2 2024-01-03           19   2024     1     3  2024-01-08

Les données du mois de janvier
        Date  Température  Annee  Mois  Jour
0 2024-01-01           20   2024     1     1
1 2024-01-02           21   2024     1     2
2 2024-01-03           19   2024     1     3

La plage de dates du 1er au 10 janvier 2024
DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04',
               '2024-01-05', '2024-01-06', '2024-01-07', '2024-01-08',
               '2024-01-09', '2024-01-10'],
              dtype='datetime64[ns]', freq='D')

In [53]:
import pandas as pd

# Chargement des données
donnees_date = {'Date': ['2024-01-01', '2024-01-02', '2024-01-03'], 'Température': [20, 21, 19]}
df = pd.DataFrame(donnees_date)

# Conversion en datetime
df['Date'] = pd.to_datetime(df['Date'])

print(df)

        Date  Température
0 2022-01-01           20
1 2022-01-02           21
2 2022-01-03           19

In [54]:
# Extraction de l'année
df['Annee'] = df['Date'].dt.year

# Extraction du mois
df['Mois'] = df['Date'].dt.month

# Extraction du jour
df['Jour'] = df['Date'].dt.day

print(df)

        Date  Température  Annee  Mois  Jour
0 2022-01-01           20   2022     1     1
1 2022-01-02           21   2022     1     2
2 2022-01-03           19   2022     1     3

In [56]:
import pandas as pd

# Chargement des données
donnees_date = {'Date': ['2024-01-01', '2024-01-02', '2024-01-03'], 'Température': [20, 21, 19]}
df = pd.DataFrame(donnees_date)

# Filtrage pour obtenir les données de janvier 2024
masque = (df['Date'] >= '2024-01-01') & (df['Date'] <= '2024-01-31')
donnee_janvier = df.loc[masque]

print(donnee_janvier)

         Date  Température
0  2024-01-01           20
1  2024-01-02           21
2  2024-01-03           19

In [60]:
import pandas as pd
donnees_date = {'Date': ['2024-01-01', '2024-01-02', '2024-01-03'], 'Température': [20, 21, 19]}
df = pd.DataFrame(donnees_date)

# Conversion en datetime
df['Date'] = pd.to_datetime(df['Date'])
df['Date plus 5'] = df['Date'] + pd.Timedelta(days=5)

print(df)
plage_date = pd.date_range(start='2024-01-01', end='2024-01-10', freq='D')
print(plage_date)

        Date  Température Date plus 5
0 2024-01-01           20  2024-01-06
1 2024-01-02           21  2024-01-07
2 2024-01-03           19  2024-01-08
DatetimeIndex(['2024-01-01', '2024-01-02', '2024-01-03', '2024-01-04',
               '2024-01-05', '2024-01-06', '2024-01-07', '2024-01-08',
               '2024-01-09', '2024-01-10'],
              dtype='datetime64[ns]', freq='D')

In [61]:
import pandas as pd

# Création d'une série
ma_serie = pd.Series([1, 2, 3, 4, 5], name='Valeurs')

# Conversion de la série en DataFrame
df = ma_serie.to_frame()

# Affichage du DataFrame
print(df)

   Valeurs
0        1
1        2
2        3
3        4
4        5

In [62]:
import pandas as pd

# Création des DataFrames
df1 = pd.DataFrame({
    'id': [1, 2, 3],
    'prénom': ['Aline', 'Robert', 'Charles']
})

df2 = pd.DataFrame({
    'id': [1, 2, 4],
    'âge': [25, 30, 35]
})

# Fusion des DataFrames sur la colonne 'id'
df_fusionne = pd.merge(df1, df2, on='id', how='inner')

print(df_fusionne)

   id  prénom  âge
0   1   Aline   25
1   2  Robert   30

In [8]:
import pandas as pd
donnee = {
    "Nom": ["Aline", "Robert", "Charles"],
    "Âge": [25, 30, 35],
    "Note": [85.5, 90.3, 78.9]
}
df = pd.DataFrame(donnee)
#print(df)

#df.info()
#print(df.describe())
#print("-------")
valeurs = df.values  # Accède à la première ligne sous forme de tableau numpy
print(valeurs)
#print("------")
#index = df.index
#print(index)

#print("-----")
#print(df["Âge"])

[['Aline' 25 85.5]
 ['Robert' 30 90.3]
 ['Charles' 35 78.9]]