In [1]:
import pandas as pd

In [2]:
# Chargement des données du fichier .csv dans un dataframe
df = pd.read_csv("etudiants.csv")

In [3]:
# Affichage des données pour comprendre le jeu de données
# - connaitre le noms des colonnes et les données
df

     Étudiant        Matière  Score
0  Étudiant 1  Mathématiques     85
1  Étudiant 1       Physique     88
2  Étudiant 1         Chimie     90
3  Étudiant 1       Biologie     87
4  Étudiant 1       Histoire     89
5  Étudiant 1     Géographie     91
6  Étudiant 1       Français     92
7  Étudiant 1        Anglais     93
8  Étudiant 1    Philosophie     94
9  Étudiant 1   Informatique     95

In [4]:
# Filtrer les données pour l'étudiant 'Étudiant 1'

# Pour chaque score vérifier si c'est le plus élevé


print(f"La matière où l'Étudiant 1 a obtenu le meilleur score est {}")

La matière où l'Étudiant 1 a obtenu le meilleur score est 9    Informatique
Name: Matière, dtype: object