In [1]:
import pandas as pd

In [2]:
# Chargement des données du fichier .csv dans un dataframe
df = pd.read_csv("voitures.csv")

In [3]:
# Affichage des données pour comprendre le jeu de données
# - connaitre le noms des colonnes et les données
df

   Année  Nombre de ventes
0   2015                15
1   2016                16
2   2017                17
3   2018                18
4   2019                19
5   2020                 2

In [4]:
# Filtrer les données pour les ventes de voitures entre 2015 et 2020
df_voitures = df[(df['Année'] >= 2015) & (df['Année'] <= 2020)]

somme_ventes = 0
cpt = 0

for ventes in df_voitures["Nombre de ventes"]:
   somme_ventes += ventes
   cpt += 1

ventes_moyennes = somme_ventes / cpt

# Afficher les ventes moyennes
print(f"Le nombre moyen de ventes de voitures de 2015 à 2020 est de {round(ventes_moyennes,2)}$")

Le nombre moyen de ventes de voitures de 2015 à 2020 est de 14.5$