## Semaine 3

### <u>Exemples de variable

In [1]:
x = 5 # x est un entier
y = 7.5 # y est un flottant
salutations = "Bienvenue dans la faille de l'invocateur !" # salutations est une chaîne de caractères
suite_nombre = [1, 2, 3] # suite_nombre est une liste / un tableau à une dimension comportant des entiers
liste_personnages = ["Lifeline", "Fuze", "Bangalore", "Pathfinder"] # liste_personnage est une liste / un tableau à une dimension comportant des personnages du jeu Apex Legends
position_lol = {'Top': 'Garen', 'ADC': 'Caitlin', 'Supp': 'Leona', 'Mid': 'Lux', 'Jungle': 'Trundle'} # position_lol est un dictionnaire avec comme clé la position des personnages sur la carte et en valeur leur nom.
modele_vehicule = {'Ford': ['Mustang', 'F150'], 'Chevrolet': ['Camaro', 'Tahoe'], 'Volkswagen':['Golf', 'Atlas']} # modele_vehicule est un dictionnaire où la clé est la marque du véhicule et les valeurs sont la liste des modèles.

### <u>Affichage de variable

In [2]:
# Utiliser la fonction print() pour afficher les résultats
print(x)
print(y)
print(salutations)
print(suite_nombre)
print(liste_personnages)
print(position_lol)
print(modele_vehicule)

5
7.5
Bienvenue dans la faille de l'invocateur !
[1, 2, 3]
['Lifeline', 'Fuze', 'Bangalore', 'Pathfinder']
{'Top': 'Garen', 'ADC': 'Caitlin', 'Supp': 'Leona', 'Mid': 'Lux', 'Jungle': 'Trundle'}
{'Ford': ['Mustang', 'F150'], 'Chevrolet': ['Camaro', 'Tahoe'], 'Volkswagen': ['Golf', 'Atlas']}

### <u>Commentaire

In [11]:
# Ceci est un commentaire

### <u>La casse

In [4]:
a = 42
print(a)

42

In [5]:
print(A)

NameError: name 'A' is not defined

### <u>Transtypage

In [ ]:
# Changer le type d'une variable
# 1er exemple
x = str(x) # a devient une chaîne de caractères
print(type(x)) # la fonction "type()" permet de nous retourner le type de la variable

In [ ]:
# 2ème exemple
x = float(x) # a devient un nombre à virgule
print(type(x))

In [3]:
float("Valorant")

ValueError: could not convert string to float: 'Valorant'

### <u>Types élémentaires en python

In [2]:
a = 7
b = 5
print("a =", a, " et b =", b)
print("a + b =", a + b)
print("a - b =", a - b)
print("a * b =", a * b)
print("a / b =", a / b) # division
print("a // b =", a // b) # division entière
print("a % b =", a % b) # modulo
print("a ** b =", a ** b) # a exp b
print("a ** -b =", a ** -b) # a exp -b

a = 7  et b = 5
a + b = 12
a - b = 2
a * b = 35
a / b = 1.4
a // b = 1
a % b = 2
a ** b = 16807
a ** -b = 5.9499018266198606e-05

### <u>Affectation multiples

In [6]:
# Les variables se retrouvent avec la même valeur
a = b = 1
print("a =", a, " et b =", b)

a = 1 et b = 1

In [7]:
# Autre méthode d'affectation multiple
a, b  = 1, 2
print("a =", a, " et b =", b)

a = 1 et b = 2

### <u>Instructions

In [9]:
# Exemple d'instructions
a = 1
b = 2
somme = a + b
print("La somme de a + b est égale à :", somme)

La somme de a + b est égale à : 3

### <u>Opération particulière

In [8]:
# Opération particulière
a = 2
print("1. a est égal à", a)

a = a + 1 # le résultat sera 3.
print("2. a est maintenant égal à", a)

1. a est égal à 2
2. a est maintenant égal à 3

### <u>Opérateur de comparaison

In [10]:
# Comparaison
dix_fois_dix = (100 == 10 *10)
print(dix_fois_dix)

True

### <u>Intéraction avec la machine

In [ ]:
# Saisie d'une valeur
valeur = int(input("Veuillez saisir une valeur : "))
print("La valeur saisie est :", valeur)