<center><h1>Projet : Analyse de données scientifiques</h1></center>
<center><img src="images/projet.jpeg" alt="projet analyse de données en sciences" width="200"></center>

#### 1. Importer et préparer les données

In [2]:
# 1.a Charger les données dans un dataframe 
import pandas as pd

df_temperature = pd.read_csv('temperature_utf8.csv',encoding='utf-8')

In [3]:
# 1.b Quels sont les colonnes et le type de valeurs présentent dans ces données ?
df_temperature.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 552 entries, 0 to 551
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Mois                  552 non-null    object
 1   Temperature_Laval     551 non-null    float64
 2   Temperature_Montréal  551 non-null    float64
dtypes: float64(2), object(1)
memory usage: 13.1+ KB

Votre réponse ici:

In [4]:
# 1.c Visualisez les 10 premières lignes du dataframe  
df_temperature.head(10)

      Mois  Temperature_Laval  Temperature_Montréal
0  Janvier          -9.006572             -9.276529
1  Janvier          -8.704623             -5.953940
2  Février          -8.468307             -7.468274
3  Février          -4.841574             -5.465131
4     Mars          -2.938949              0.085120
5     Mars          -2.926835             -1.931460
6    Avril           8.483925              5.173440
7    Avril           4.550164              7.875425
8      Mai          12.974338             16.628495
9      Mai          13.183952             13.175393

In [5]:
# 1.d Quelles sont les moyennes des températures de deux villes ?
df_temperature.describe()

       Temperature_Laval  Temperature_Montréal
count         551.000000            551.000000
mean            7.984682              8.949292
std            11.667955             11.664131
min           -13.012893            -12.506080
25%            -2.928298             -2.222908
50%             9.116506             10.245195
75%            18.760088             19.596149
max            27.406720             28.593496

Votre réponse ici:

In [6]:
# 1.e Modifier les noms des colonnes du dataframe (**PAS CELLES DU FICHIER CSV**) par 'Laval' et 'Montréal'. 
df_temperature = df_temperature.rename(columns={'Temperature_Montréal': 'Montréal'})
df_temperature = df_temperature.rename(columns={'Temperature_Laval': 'Laval'})

In [7]:
# 1.f Affichier les 5 dernières lignes 
df_temperature.tail()

         Mois      Laval   Montréal
547   Octobre  11.905280  11.278567
548  Novembre   2.597270        NaN
549  Novembre   4.272655   4.132977
550  Décembre  -2.563980  -9.352511
551  Décembre        NaN  -3.839179

In [8]:
# 1.g Écrire le code permettant de remplacer ces données par 0.
#     Vérifier le changement en affichant les 5 dernières lignes de données.
for colonne in df_temperature.columns:
    for i in range(len(df_temperature[colonne])):
        if pd.isna(df_temperature[colonne][i]):
            df_temperature[colonne][i] = 0

C:\Users\NatDe\AppData\Local\Temp\ipykernel_32796\2935336269.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_temperature[colonne][i] = 0

In [9]:
# 1.h Vérifier le changement en affichant les 5 dernières lignes de données.
df_temperature.tail()

         Mois      Laval   Montréal
547   Octobre  11.905280  11.278567
548  Novembre   2.597270   0.000000
549  Novembre   4.272655   4.132977
550  Décembre  -2.563980  -9.352511
551  Décembre   0.000000  -3.839179

In [26]:
# 1.i Filtrez les mois ayant une température supérieure à 20C pour Montréal
# Afficher les 5 premiers mois.
df_chaud = df_temperature[df_temperature['Montréal'] > 20]
df_chaud.head()

       Mois      Laval   Montréal
10     Juin  22.931298  20.548447
12  Juillet  21.911235  24.221845
13  Juillet  20.698013  24.751396
14     Août  20.798723  22.416613
15     Août  20.796587  26.704556

#### 2. Extraire des informations clés pour effectuer des analyses pertinentes

In [11]:
# 2.a Grouper les données par **mois** et calculer la moyenne des températures pour chaque mois pour chacune des villes. 

# ATTENTION: vous devez obligatoirement utiliser des boucles et **UNIQUEMENT** les fonctions vues dans le cours.
# ASTUCE: Utiliser une liste pour stocker le mois de l'année et des boucles imbriquées pour calcules les moyennes

In [12]:
# 2.b i) Écrire une fonction qui permet de créer un DataFrame contenant les températures moyennes mensuelles pour chaque ville.

def get_temps_moyennes():
    """
    Crée un DataFrame contenant les températures moyennes mensuelles pour chaque ville (Laval et Montréal),
    sans utiliser les fonctions groupby et mean de pandas.

    Paramètres :
    AUCUN *****-df (pandas.DataFrame) : DataFrame contenant les colonnes 'Mois', 'Laval' et 'Montréal'.

    Retourne :
    pandas.DataFrame : Un nouveau DataFrame avec les colonnes 'Mois', 'Temperature_Moyenne_Laval' et 'Temperature_Moyenne_Montréal',
                       représentant les températures moyennes mensuelles pour chaque ville.
    """
    # Initialiser des listes pour stocker les mois et les températures moyennes
    mois_annee = []
    moy_temp_laval = []
    moy_temp_montreal = []

    # Parcourir chaque mois unique dans le DataFrame
    for m in df_temperature['Mois'].unique():
        # Initialiser des listes pour stocker les températures du mois courant
        temps_laval = []
        temps_montreal = []
        
        # Parcourir chaque ligne du DataFrame
        for i in range(len(df_temperature)):
            if df_temperature['Mois'][i] == m:
                temps_laval.append(df_temperature['Laval'][i])
                temps_montreal.append(df_temperature['Montréal'][i])
        
        # Calculer la température moyenne pour le mois courant
        moy_temp_laval.append(sum(temps_laval) / len(temps_laval))
        moy_temp_montreal.append(sum(temps_montreal) / len(temps_montreal))
        mois_annee.append(m)

    # Créer un nouveau DataFrame avec les résultats
    result_df = pd.DataFrame({
        'Mois': mois_annee,
        'Temperature_Moyenne_Laval': moy_temp_laval,
        'Temperature_Moyenne_Montréal': moy_temp_montreal
    })

    print(result_df)
    return result_df

In [13]:
# 2.b ii) Écrire une fonction qui renvoie la température minimale enregistrée pour une ville donnée.

def temperature_min(ville):
    """
    Retourne la température minimale enregistrée pour une ville donnée.

    Paramètres:
    ville (str): Le nom de la ville pour laquelle on souhaite obtenir la température maximale.
                 Les valeurs acceptées sont 'Laval' et 'Montréal'.

    Retourne:
    float: La température minimale enregistrée pour la ville spécifiée.

    Remarques:
    - Si la ville spécifiée n'est pas 'Laval' ou 'Montréal', un message d'erreur est affiché.
    - La fonction suppose que df_temperature est un DataFrame contenant les colonnes 'Laval' et 'Montréal'.
    """
    min_temp = float(0)
    for i in range(len(df_temperature)):
        if ville == 'Laval':
            temp = df_temperature['Laval'][i]
        elif ville == 'Montréal':
            temp = df_temperature['Montréal'][i]
        else:
            print("Ville non reconnue. Utilisez 'Laval' ou 'Montréal'.")
        
        if temp < min_temp:
            min_temp = temp
    return min_temp

# Utilisation des fonctions
ville = 'Laval'
print(f"Température minimale à {ville} : {temperature_min(ville)}")

ville = 'Montréal'
print(f"Température minimale à {ville} : {temperature_min(ville)}")

Température minimale à Laval : -13.012892640515146
Température minimale à Montréal : -12.50608031072547

In [14]:
# 2.b iii) Écrire une fonction qui renvoie la température maximale enregistrée pour une ville donnée.
# Fonctions min et max

def temperature_max(ville):
    """
    Retourne la température maximale enregistrée pour une ville donnée.

    Paramètres:
    ville (str): Le nom de la ville pour laquelle on souhaite obtenir la température maximale.
                 Les valeurs acceptées sont 'Laval' et 'Montréal'.

    Retourne:
    float: La température maximale enregistrée pour la ville spécifiée.

    Remarques:
    - Si la ville spécifiée n'est pas 'Laval' ou 'Montréal', un message d'erreur est affiché.
    - La fonction suppose que df_temperature est un DataFrame contenant les colonnes 'Laval' et 'Montréal'.
    """
    max_temp = float(0)
    for i in range(len(df_temperature[ville])):
        if ville == 'Laval':
            temp = df_temperature['Laval'][i]
        elif ville == 'Montréal':
            temp = df_temperature['Montréal'][i]
        else:
            print("Ville non reconnue. Utilisez 'Laval' ou 'Montréal'.")
        
        if temp > max_temp:
            max_temp = temp
    return max_temp

# Utilisation des fonctions
ville = 'Laval'
print(f"Température maximale à {ville} : {temperature_max(ville)}")

ville = 'Montréal'
print(f"Température maximale à {ville} : {temperature_max(ville)}")

Température maximale à Laval : 27.40671960649972
Température maximale à Montréal : 28.593495967121683

In [15]:
# 2.b iv) Écrire une fonction qui prend en paramètre les températures moyennes et le mois de décembre par défaut, et renvoie la ville (Montréal ou Laval) qui a eu la température la plus élevée en décembre.
# Question 1: 

def ville_temp_haute(temp_moy1, temp_moy2, mois="Décembre"):
    """
    Détermine la ville avec la température moyenne la plus élevée en décembre

    Paramètres
    (str)   mois     : Le mois, par défaut Décembre   
    (float) temp_moy1: La température moyenne pour Laval (mois donné)
    (float) temp_moy2: Les température moyenne pour Montréal (mois donné)

    Retour:
    str : Le nom de la ville qui a eu la température moyenne la plus élevée
    """

    if temp_moy1 > temp_moy2:
        ville_temp_haute = 'Laval'
    else:
        ville_temp_haute = 'Montréal'
    
    return ville_temp_haute

In [16]:
# 2.b v) Écrire une fonction qui prend en paramètre les températures moyennes et le mois de juillet par défaut, et renvoie la ville (Montréal ou Laval) qui a eu la température la plus élevée en juillet.
# Question 2: 

def ville_temp_basse(temp_moy1, temp_moy2, mois="Juillet"):
    """
    Détermine la ville avec la température moyenne la plus basse

    Paramètres
    (str)   mois     : Le mois, par défaut Juillet  
    (float) temp_moy1: La température moyenne pour Laval (mois donné)
    (float) temp_moy2: Les température moyenne pour Montréal (mois donné)

    Retour:
    str : Le nom de la ville qui a eu la température moyenne la plus basse
    """

    if temp_moy1 > temp_moy2:
        ville_temp_basse = 'Montréal'
    else:
        ville_temp_basse = 'Laval'
    
    return ville_temp_basse

In [17]:
# 2.b vi) Écrire une fonction qui ne prend pas de paramètre et renvoie une liste des mois où les températures des deux villes étaient similaires. 
# NB : On considère que deux températures sont similaires si leur différence est strictement inférieure à 1.
# Question 3: 

def mois_similaire():
    """
    Détermine les mois où les températures sont considérées similiares entre Laval et Montréal

    Paramètres:
    Aucun

    Retour: 
    mois_similaires : liste des mois où les températures sont considérées similiares entre les deux villes
    """
    mois_similaires = []
    # Parcourir chaque ligne du DataFrame en utilisant des indices
    for i in range(len(df_temperature)):
        if abs(df_temperature['Laval'][i] - df_temperature['Montréal'][i]) < 1:
            mois_similaires.append(df_temperature['Mois'][i])
    return mois_similaires

#### 3. Utiliser Matplotlib pour visualiser les données graphiquement

In [18]:
# Graphique 1: 
# Utilisez matplotlib pour créer un graphique en lignes.
"""
import matplotlib.pyplot as plt

plt.figure(figsize=(10, 6))
plt.plot(df_temperature['Laval'].index, moyenne_laval, label='Laval')
plt.plot(df_temperature['Montréal'].index, moyenne_montreal, label='Montréal')
plt.xlabel('Mois')
plt.ylabel('Température moyenne (°C)')
plt.title('Température moyenne mensuelle à Laval et Montréal (2023)')
plt.legend()
plt.grid(True)
plt.show()

====
import matplotlib.pyplot as plt

plt.figure(figsize=(10, 6))
plt.plot(monthly_avg_temp.index, monthly_avg_temp['Laval_Temperature'], label='Laval')
plt.plot(monthly_avg_temp.index, monthly_avg_temp['Montreal_Temperature'], label='Montréal')
plt.xlabel('Mois')
plt.ylabel('Température Moyenne (°C)')
plt.title('Température Moyenne Mensuelle à Laval et Montréal (2023)')
plt.legend()
plt.grid(True)
plt.show()

"""

"\nimport matplotlib.pyplot as plt\n\nplt.figure(figsize=(10, 6))\nplt.plot(df_temperature['Laval'].index, moyenne_laval, label='Laval')\nplt.plot(df_temperature['Montréal'].index, moyenne_montreal, label='Montréal')\nplt.xlabel('Mois')\nplt.ylabel('Température moyenne (°C)')\nplt.title('Température moyenne mensuelle à Laval et Montréal (2023)')\nplt.legend()\nplt.grid(True)\nplt.show()\n\n====\nimport matplotlib.pyplot as plt\n\nplt.figure(figsize=(10, 6))\nplt.plot(monthly_avg_temp.index, monthly_avg_temp['Laval_Temperature'], label='Laval')\nplt.plot(monthly_avg_temp.index, monthly_avg_temp['Montreal_Temperature'], label='Montréal')\nplt.xlabel('Mois')\nplt.ylabel('Température Moyenne (°C)')\nplt.title('Température Moyenne Mensuelle à Laval et Montréal (2023)')\nplt.legend()\nplt.grid(True)\nplt.show()\n\n"

In [19]:
# Graphique 2:

In [20]:
x = 0
for i in range(4):
    for j in range(4):
        x = x + j
print(x)

24

In [21]:
# Graphique 3:

In [22]:
# Graphique 4:

#### 4. Analyser les résultats et en tirer des conclusions

<div class="alert alert-block alert-success">
<b>Question 1.</b> Quelle ville a eu la température moyenne la plus élevée en décembre 2023 ?</div>

In [23]:
# Code pour le calcul des températures mensuelles moyennes
mois_courants = ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre']
# Boucle pour chaque mois courant
for mois in mois_courants:
   # Extraction des données pour chaque mois de l'année
   df_mois = df_temperature[df_temperature['Mois'] == mois]

   # Pour chaque mois traité, on remet les sommes et compteurs à 0
   somme_laval = 0   
   compteur_laval = 0
   somme_montreal = 0
   compteur_montreal = 0

   # Traitement pour Laval, le mois traité
   for temp in df_mois['Laval']:
      somme_laval += temp
      compteur_laval += 1

   # Traitement pour Montréal, le mois traité
   for temp in df_mois['Montréal']:
      somme_montreal += temp
      compteur_montreal += 1
      
   # Calcul des moyennes pour chaque mois traité
   moyenne_laval = somme_laval / compteur_laval
   print(f"La température moyenne à Laval pour le mois de {mois} est de {round(moyenne_laval,2)}C")
   moyenne_montreal = somme_montreal / compteur_montreal
   print(f"La température moyenne à Montréal pour le mois de {mois} est de {round(moyenne_montreal,2)}C\n")

   if mois == 'Décembre':
      # Question 1: 
      ville_haute = ville_temp_haute(moyenne_laval, moyenne_montreal)
      print(f"La ville avec la température moyenne la plus élevée en {mois} est : {ville_haute}")
   if mois == 'Juillet':
      # Question 2: 
      ville_basse = ville_temp_basse(moyenne_laval, moyenne_montreal)
      print(f"La ville avec la température moyenne la plus basse en {mois} est : {ville_basse}")

La température moyenne à Laval pour le mois de Janvier est de -9.72C
La température moyenne à Montréal pour le mois de Janvier est de -8.66C

La température moyenne à Laval pour le mois de Février est de -7.64C
La température moyenne à Montréal pour le mois de Février est de -6.69C

La température moyenne à Laval pour le mois de Mars est de -1.88C
La température moyenne à Montréal pour le mois de Mars est de -0.8C

La température moyenne à Laval pour le mois de Avril est de 8.01C
La température moyenne à Montréal pour le mois de Avril est de 9.03C

La température moyenne à Laval pour le mois de Mai est de 15.45C
La température moyenne à Montréal pour le mois de Mai est de 16.58C

La température moyenne à Laval pour le mois de Juin est de 20.04C
La température moyenne à Montréal pour le mois de Juin est de 21.02C

La température moyenne à Laval pour le mois de Juillet est de 23.41C
La température moyenne à Montréal pour le mois de Juillet est de 24.23C

La ville avec la température moyenne la plus basse en Juillet est : Laval
La température moyenne à Laval pour le mois de Août est de 22.52C
La température moyenne à Montréal pour le mois de Août est de 23.07C

La température moyenne à Laval pour le mois de Septembre est de 17.21C
La température moyenne à Montréal pour le mois de Septembre est de 18.55C

La température moyenne à Laval pour le mois de Octobre est de 10.38C
La température moyenne à Montréal pour le mois de Octobre est de 11.21C

La température moyenne à Laval pour le mois de Novembre est de 2.44C
La température moyenne à Montréal pour le mois de Novembre est de 3.76C

La température moyenne à Laval pour le mois de Décembre est de -4.57C
La température moyenne à Montréal pour le mois de Décembre est de -4.11C

La ville avec la température moyenne la plus élevée en Décembre est : Montréal

<div class="alert alert-block alert-success">
<b>Question 2.</b> Quelle ville a eu la température moyenne la plus basse en juillet 2023 ? </div>

In [24]:
# Code pour le calcul des températures mensuelles moyennes
mois_courants = ['Janvier', 'Février', 'Mars', 'Avril', 'Mai', 'Juin', 'Juillet', 'Août', 'Septembre', 'Octobre', 'Novembre', 'Décembre']
# Boucle pour chaque mois courant
for mois in mois_courants:
   # Extraction des données pour chaque mois de l'année
   df_mois = df_temperature[df_temperature['Mois'] == mois]

   # Pour chaque mois traité, on remet les sommes et compteurs à 0
   somme_laval = 0   
   compteur_laval = 0
   somme_montreal = 0
   compteur_montreal = 0

   # Traitement pour Laval, le mois traité
   for temp in df_mois['Laval']:
      somme_laval += temp
      compteur_laval += 1

   # Traitement pour Montréal, le mois traité
   for temp in df_mois['Montréal']:
      somme_montreal += temp
      compteur_montreal += 1
      
   # Calcul des moyennes pour chaque mois traité
   moyenne_laval = somme_laval / compteur_laval
   print(f"La température moyenne à Laval pour le mois de {mois} est de {round(moyenne_laval,2)}C")
   moyenne_montreal = somme_montreal / compteur_montreal
   print(f"La température moyenne à Montréal pour le mois de {mois} est de {round(moyenne_montreal,2)}C\n")

   if mois == 'Décembre':
      # Question 1: 
      ville_haute = ville_temp_haute(moyenne_laval, moyenne_montreal)
      print(f"La ville avec la température moyenne la plus élevée en {mois} est : {ville_haute}")
   if mois == 'Juillet':
      # Question 2: 
      ville_basse = ville_temp_basse(moyenne_laval, moyenne_montreal)
      print(f"La ville avec la température moyenne la plus basse en {mois} est : {ville_basse}")

La température moyenne à Laval pour le mois de Janvier est de -9.72C
La température moyenne à Montréal pour le mois de Janvier est de -8.66C

La température moyenne à Laval pour le mois de Février est de -7.64C
La température moyenne à Montréal pour le mois de Février est de -6.69C

La température moyenne à Laval pour le mois de Mars est de -1.88C
La température moyenne à Montréal pour le mois de Mars est de -0.8C

La température moyenne à Laval pour le mois de Avril est de 8.01C
La température moyenne à Montréal pour le mois de Avril est de 9.03C

La température moyenne à Laval pour le mois de Mai est de 15.45C
La température moyenne à Montréal pour le mois de Mai est de 16.58C

La température moyenne à Laval pour le mois de Juin est de 20.04C
La température moyenne à Montréal pour le mois de Juin est de 21.02C

La température moyenne à Laval pour le mois de Juillet est de 23.41C
La température moyenne à Montréal pour le mois de Juillet est de 24.23C

La ville avec la température moyenne la plus basse en Juillet est : Laval
La température moyenne à Laval pour le mois de Août est de 22.52C
La température moyenne à Montréal pour le mois de Août est de 23.07C

La température moyenne à Laval pour le mois de Septembre est de 17.21C
La température moyenne à Montréal pour le mois de Septembre est de 18.55C

La température moyenne à Laval pour le mois de Octobre est de 10.38C
La température moyenne à Montréal pour le mois de Octobre est de 11.21C

La température moyenne à Laval pour le mois de Novembre est de 2.44C
La température moyenne à Montréal pour le mois de Novembre est de 3.76C

La température moyenne à Laval pour le mois de Décembre est de -4.57C
La température moyenne à Montréal pour le mois de Décembre est de -4.11C

La ville avec la température moyenne la plus élevée en Décembre est : Montréal

<div class="alert alert-block alert-success">
<b>Question 3.</b> Y a-t-il des mois où les températures des deux villes étaient similaires ?</div>

In [25]:
# Question 3: 
mois_semblables = mois_similaire()
print(f"Mois où les températures des deux villes étaient similaires : {set(mois_semblables)}")

Mois où les températures des deux villes étaient similaires : {'Juillet', 'Novembre', 'Janvier', 'Septembre', 'Juin', 'Décembre', 'Avril', 'Août', 'Octobre', 'Février', 'Mars', 'Mai'}

<div class="alert alert-block alert-success">
<b>Question 4.</b> Y a-t-il des tendances saisonnières observables dans les données ?</div>